.fade-slide-enter-active,
.fade-slide-leave-active {
  transition:
    opacity 0.7s ease-in,
    transform 0.7s ease-out;
}

.fade-slide-enter-from,
.fade-slide-leave-to {
  opacity: 0;
  transform: translateY(-400px);
}

.fade-slide-enter-from .middle-card,
.fade-slide-leave-to .middle-card {
  transform: translateY(-600px);
}

.fade-slide-enter-from .side-card,
.fade-slide-leave-to .side-card {
  transform: translateY(-500px);
}

.fade-enter-active,
.fade-leave-active {
  transition:
    opacity 0.7s ease-in,
    transform 0.7s ease-out;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}
